@inherits LayoutComponentBase

<PageTitle>DemoApp</PageTitle>

<div class="page telegram-main">
    <nav class="navbar navbar-expand navbar-dark bg-primary shadow-sm">
        <span class="navbar-brand mb-0 h6 ms-3">DemoApp Chat</span>
    </nav>

    <main class="container-fluid p-0">
        @Body
    </main>
</div>
